

.image img
{
    transition: transform .5s ease;
}

.image:hover img 
{
    transform: scale(1.5);
}
.image-list
{
    display: flex;
    justify-content: center;
}

.image-list div
{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(203, 203, 203);
    cursor: pointer;
}

.list
{
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 768px)
{
    .single-img
    {
        width: 100%;
        width: 90vw;
    }

    .picture
    {
        width: 100%;
    }
}