.profile
{
    z-index: 1;
    display: flex;
    padding: 2rem 2rem 0 2rem;
    background: rgb(245, 245, 245);
}

.sidebar
{
    width: 20%;
}

// 

.content
{
    width: 80%;
}

// 

.top
{
    width: 960px;
    height: 70px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(0,0,0,.05);
}

.top p 
{
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

// 

.company-overview
{
    background: rgb(255, 255, 255);
    width: 960px;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 2px 4px 8px rgba(0,0,0,.05);
}

// 
.product-capacity
{
    margin: 2rem 0;
}

.trade-capacity
{
    margin: 2rem 0;
}

.business-performance
{
    margin: 2rem 0;
}

