
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 0 2rem;
}

.container h1 
{
    text-transform: uppercase;
}

.container h6 
{
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 5px;
}

.advantages-top
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-background
{
    background: rgb(251, 229, 231);
    border-radius: 100%;
}



.icons-wrapper p 
{
    font-size: 20px;
    text-align: center;
}