.container
{
    width: 960px;
    padding: 1rem;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.05);
}

.header
{
    text-transform: uppercase;
    height: 51px;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
}

.content
{
    margin-top: 1rem;
}

.content h6 
{
    font-size: 14px;
    margin-top: 1rem;
}

.table
{
    font-size: 14px;
    margin-top: 1rem;
}
