.container
{
    position: relative;
}

// flag - language

.slide-show
{
    z-index: 2;
}


// 


.video-recommendations
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.video
{
    width: 720px;
    height: 405px;
}

.recommendations
{
    display: flex;
    flex-direction: column;
}

.header
{
    text-transform: uppercase;
    font-size: 18px;
}

.footer 
{
    width: 500px;
    height: 369px;
    border: 1px solid rgb(219, 219, 219);
}