

// 

.sidebar-categories
{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(227, 233, 242);
}

.categories-text
{
    border-bottom: 1px solid rgb(227, 233, 242);
}


// sub

.catesgories-submenu
{
    position: relative;
}

.categories-info:hover  .catesgories-menu
{
    display: block;
}

.categories-items
{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    width: 15rem;
}

.categories-items:hover
{
    color: rgb(81, 81, 199);
}

.catesgories-menu
{
    display: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(227, 233, 242);
    position: absolute;
    top: 0%;
}

// 

.sidebar-products
{
    border: 1px solid rgb(227, 233, 242);
    background: rgb(255, 255, 255);
}

.products-toppick
{
    border-bottom: 1px solid rgb(227, 233, 242);
}

.left
{
    border-right: 1px solid rgb(227, 233, 242);
}

.right
{
    width: 50%;
}