.container
{
    position: relative;
}

.header
{
    z-index: 2;
    position: relative;
}

.home
{
    z-index: 1;
    position: relative;
    // height: 1990px;
}

.footer
{
    position: relative;
}