.container
{
    position: relative;
}

.header
{
    z-index: 2;
    position: relative;
}

.home
{
    z-index: 1;
    position: relative;
    // height: 1990px;
}

.footer
{
    position: relative;
}

@media screen and (max-width: 768px) {
    .header
    {
        position: sticky;
        position: -webkit-sticky;
        align-self: flex-end;
        top: 0;
        background: #fff;
    }
}
