.container
{
    margin: 1rem 2rem ;
}

.factory-headeline
{
    background: rgb(251, 229, 231);
    text-align: center;
    text-transform: uppercase;
}

.pictures
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.image
{
    background: rgb(251, 229, 231);
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// 

.creative
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.creative h1
{
    text-align: right;
    text-transform: uppercase;
    color: rgb(181, 5, 4);    
}

.creative-content
{
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
}

.creative-content p 
{
    width: 17%;
    text-align: justify;
    text-justify: inter-word;
}
