

.top
{
    background: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.05);
}

.top h6 
{
    font-size: 15px;
    font-weight: bold;
}

.interactions
{
    justify-content: space-around;
    margin-top: 1rem;
}

.interactions p 
{
    font-size: 15px;
}

.info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info > div 
{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.icons
{
    margin-right: 0.5rem;
}

// 

.below
{
    background: rgb(255, 255, 255);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.05);
}