.products
{
    display: flex;
    padding: 2rem 2rem 0 2rem;
    background: rgb(245, 245, 245);
    height: 1000px;
}

// side bar

.sidebar
{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.sidebar-toppick
{
    width: 220px;
    height: 53px;
    background: rgb(233, 239, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(227, 233, 242);
}

.shop-icon
{
    width: 20px;
    height: 20px;
}

.sidebar-toppick p 
{
    margin-left: 0.75rem;
    font-size: 17px;
}

// 

.sidebar-categories
{
    width: 220px;
    height: 114px;
    background: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(227, 233, 242);
    margin-top: 2rem;
}

.categories-text
{
    height: 50%;
    border-bottom: 1px solid rgb(227, 233, 242);
    color: rgb(250, 230, 231);
    font-size: 17px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.categories-info > p 
{
    width: 100%;
    text-align: center;
}

.categories-info > p:hover 
{
    color: rgb(81, 81, 199);
}

.categories-info
{
    height: 50%;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

// sub

.catesgories-submenu
{
    position: relative;
}

.categories-info:hover  .catesgories-menu
{
    display: block;
}

.categories-items
{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    width: 15rem;
}

.categories-items:hover
{
    color: rgb(81, 81, 199);
}

.catesgories-menu
{
    display: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(227, 233, 242);
    position: absolute;
    top: 0%;
}

// 

.sidebar-products
{
    width: 220px;
    height: 452px;
    margin-top: 2rem;
    border: 1px solid rgb(227, 233, 242);
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.products-toppick
{
    width: 100%;
    height: 416px;
    border-bottom: 1px solid rgb(227, 233, 242);
}

.products-navigation
{
    width: 100%;
    height: 36px;
}

.products-navigation
{
    display: flex;
}

.left
{
    border-right: 1px solid rgb(227, 233, 242);
    width: 50%;
}

.right
{
    width: 50%;
}

.products-navigation div 
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-content
{
    width: 80%;
}